* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
.header {
    background-color: grey;
    color: white;
    padding: 1% 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header h1 {
    margin: 0;
    font-family: 'Courgette', cursive;
    font-size: 3.5rem;
}

/* Form */
.form-container {
    background-color: grey;
    padding: 15px 10px 10px 15px;
}

.form-container button {
    font-size: 1rem;
    border: none;
    outline: none;
}

form {
    width: 30%;
    margin: auto;
    position: relative;
}

.form-input {
    outline: none;
    border: none;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.title-input {
    width: 100%;   
    font-size: 1.5rem;
    margin: 2px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content-input {
    resize: none;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    margin: 0;
    border: none;
}

.date-input {
    width: 50%;
    height: 35px;
    font-size: 1.2rem;
    margin: 5px 20px 5px 0;
    border-bottom-left-radius: 5px;
}

.form-btn {
    background-color: rgb(105, 105, 105);
    color: white;
    bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
    height: 35px;
    width: 10%;
    position: absolute;
}

.form-btn:hover {
    cursor: pointer;
}

.form-btn:active {
    background-color: rgb(88, 88, 88);
}

.clear-btn {
    border-bottom-right-radius: 5px;
    right: 0;
}

.add-btn {
    right: 11%;
}

.add-btn:hover {
    cursor: pointer;
}

/* Expand Button */
.expand-btn {
    background-color: grey;
    color: white;
    width: 150px;
    border-bottom-right-radius: 5px;
    padding: 5px 20px 5px 50px;
    margin-bottom: 5%;
}

.expand-btn:hover {
    cursor: pointer;
}

/* Note */
.notes-container {
    margin: 150px;
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    color: rgb(39, 39, 39);
    width: 30%;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    word-wrap: break-word;
    margin: 50px 0;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card h2 {
    margin: 10px 0;
}

.content {
    margin: 10px 0 30px 0;
    font-size: 1.2rem;
}

.date {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.delete-btn-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.card hr {
    border: none;
    border-top: 1px solid rgb(219, 219, 219);
    margin: 0;
}